*
 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(201, 227, 201)
}

.header {
    padding: 20px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    background-color: #9cbfd1;
    color:  darkolivegreen;
}

.header h1 {
    display: inline-block;
    font-size: 28px;
}

.header h1 .jackiefunk {
    color: darkolivegreen;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color:  darkolivegreen;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.topnav {
    height:  100%;
    width:  100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-bottom: 25px;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/guatape.jpg");
    background-size: cover;
    background-position: center;
}
.header h2 {
    display: inline-block;
    font-size: 28px;
}
.float-left {
    float: left;
    margin-right: 25px;
    color:  darkolivegreen;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 90%;
    display: inline-block;
    margin-left: 20px;
}
.project {
    margin-bottom: 20px;
    padding: 10px;
    height: 310px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  lightgoldenrodyellow;
    color:  black;
    text-align: left;
}

.future-work {
    margin-bottom: 20px;
    padding: 10px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  lightblue;
    color:  black;
    text-align: left
}
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h5 {
    color:  darkolivegreen;
}